{% extends './template/layout.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/public/admin/vendor/bootstrap-select/bootstrap-select.css">
{% endblock %}
{% block main %}
    <div class="panel white-bg f-l" id="blog-add" data-id="{{ responseData.data.textInfo._id.toString() }}">
        <div class="panel-heading col-md-12">用户列表</div>
        {% if responseData.message %}
        <div class="tip-text error-msg col-md-10 form-group">
            {{ responseData.message }}
        </div>
        {% endif %}
        <div class="tip-text error-msg col-md-10 form-group">
            {{ responseData.message }}
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label">博客名称</label>
            <div class="col-sm-10">
                {% if responseData.isEditor %}
                    <input class="form-control" id="title" type="text"
                           value="{{ responseData.data.textInfo.title }}"
                           placeholder="请输入博客标题">
                {% else %}
                    <input class="form-control" id="title" type="text" val="" placeholder="请输入博客标题">
                {% endif %}
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label">博客分类</label>
            <div class="col-sm-10">
                <select id="type" class="form-control selectpicker"
                        data-v = "{{responseData.data.textInfo.type}}">
                    {% if responseData.data.Category %}
                        {% for data in responseData.data.Category %}
                        <option>{{ data.type }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label">博客标签</label>
            <div class="col-sm-10">
                <select id="mark" class="form-control selectpicker" multiple
                        data-v="{{responseData.data.textInfo.mark}}">
                    <option>html</option>
                    <option>css</option>
                    <option>javascript</option>
                    <option>node</option>
                    <option>模块化</option>
                    <option>自动构建</option>
                    <option>版本管理</option>
                </select>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label">博客内容</label>
            <div class="col-sm-10">
                <div id="alerts"></div>
                <div class="btn-toolbar mg-b" data-role="editor-toolbar" data-target="#editor">
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font">
                            <i class="fa fa-font"></i>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Font Size">
                            <i class="fa fa-text-height"></i>&nbsp;
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a data-edit="fontSize 5">
                                    <span class="h2">Huge</span>
                                </a>
                            </li>
                            <li>
                                <a data-edit="fontSize 3">
                                    <span class="h4">Normal</span>
                                </a>
                            </li>
                            <li>
                                <a data-edit="fontSize 1">
                                    <span class="h6">Small</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" data-edit="bold" title="Bold (Ctrl/Cmd+B)">
                            <i class="fa fa-bold"></i>
                        </a>
                        <a class="btn btn-default btn-sm" data-edit="italic" title="Italic (Ctrl/Cmd+I)">
                            <i class="fa fa-italic"></i>
                        </a>
                        <a class="btn btn-default btn-sm" data-edit="strikethrough" title="Strikethrough">
                            <i class="fa fa-strikethrough"></i>
                        </a>
                        <a class="btn btn-default btn-sm" data-edit="underline" title="Underline (Ctrl/Cmd+U)">
                            <i class="fa fa-underline"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" data-edit="insertunorderedlist" title="Bullet list">
                            <i class="fa fa-list-ul"></i>
                        </a>
                        <a class="btn btn-default btn-sm" data-edit="insertorderedlist" title="Number list">
                            <i class="fa fa-list-ol"></i>
                        </a>
                        <a class="btn btn-default btn-sm" data-edit="outdent" title="Reduce indent (Shift+Tab)">
                            <i class="fa fa-dedent"></i>
                        </a>
                        <a class="btn btn-default btn-sm" data-edit="indent" title="Indent (Tab)">
                            <i class="fa fa-indent"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)">
                            <i class="fa fa-align-left"></i>
                        </a>
                        <a class="btn btn-default btn-sm" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)">
                            <i class="fa fa-align-center"></i>
                        </a>
                        <a class="btn btn-default btn-sm" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)">
                            <i class="fa fa-align-right"></i>
                        </a>
                        <a class="btn btn-default btn-sm" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)">
                            <i class="fa fa-align-justify"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Hyperlink">
                            <i class="fa fa-link"></i>
                        </a>
                        <div class="dropdown-menu input-append">
                            <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
                            <button class="btn btn-default btn-sm" type="button">Add</button>
                        </div>
                        <a class="btn btn-default btn-sm" data-edit="unlink" title="Remove Hyperlink">
                            <i class="fa fa-cut"></i>
                        </a>
                    </div>
                    <div class="btn-group pull-left">
                        <a class="btn btn-default btn-sm"
                           title="Insert picture (or just drag & drop)" id="pictureBtn">
                            <i class="fa fa-picture-o"></i>
                        </a>
                        <input type="file" data-role="magic-overlay" data-target="#pictureBtn"
                               data-edit="insertImage" />
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default btn-sm" data-edit="undo" title="Undo (Ctrl/Cmd+Z)">
                            <i class="fa fa-undo"></i>
                        </a>
                        <a class="btn btn-default btn-sm" data-edit="redo" title="Redo (Ctrl/Cmd+Y)">
                            <i class="fa fa-repeat"></i>
                        </a>
                    </div>
                </div>
                <div id="editor" class="form-control" contenteditable="true" style="overflow:scroll; height:400px">
                    {% if responseData.isEditor %}
                        {{ responseData.data.textInfo.content.toString() }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <a id="save-blog" class="btn btn-primary btn-parsley">保存</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/public/admin/vendor/bootstrap-select/bootstrap-select.js"></script>
    <script src="/public/admin/vendor/wysiwyg/jquery.hotkeys.js"></script>
    <script src="/public/admin/vendor/wysiwyg/bootstrap-wysiwyg.js"></script>
    <script src="/public/admin/vendor/switchery/switchery.js"></script>
    <script src="/public/admin/vendor/jquery.base64.js"></script>
    <script>
        !function(doc,$){
            var addUrl = '/admin/content/add';
            $('.selectpicker').selectpicker('show');
            function initToolbarBootstrapBindings() {
                var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black',
                    'Courier', 'Courier New', 'Comic Sans MS',
                    'Helvetica', 'Impact', 'Lucida Grande',
                    'Lucida Sans', 'Tahoma', 'Times', 'Times New Roman', 'Verdana'],
                        fontTarget = $('[title=Font]').siblings('.dropdown-menu');
                $.each(fonts, function(idx, fontName) {
                    fontTarget.append(
                            $('<li><a data-edit="fontName '
                               + fontName + '" style="font-family:\'' + fontName + '\'">\
                               + fontName + </a></li>'));
                });
                $('a[title]').tooltip({container: 'body'});
                $('.dropdown-menu input').click(function() {
                    return false;
                }).change(function() {
                    $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
                }).keydown('esc', function() {
                    this.value = '';
                    $(this).change();
                });
                $('[data-role=magic-overlay]').each(function() {
                    var overlay = $(this),
                            target = $(overlay.data('target'));
                    overlay.css('opacity', 0).css('position', 'absolute')
                            .offset(target.offset())
                            .width(target.outerWidth()).height(target.outerHeight());
                });
                if ("onwebkitspeechchange"in document.createElement("input")) {
                    var editorOffset = $('#editor').offset();
                } else {
                    $('#voiceBtn').hide();
                }
            }
            function showErrorAlert(reason, detail) {
                var msg = '';
                if (reason === 'unsupported-file-type') {
                    msg = "Unsupported format " + detail;
                } else {
                    console.log("error uploading file", reason, detail);
                }
                $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>\
             <strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
            };
            initToolbarBootstrapBindings();
            $('#editor').wysiwyg({
                fileUploadError: showErrorAlert
            });
            /*博客内容保存*/
            $('#save-blog').bind('click',function(e){
                var info = $('#editor').text(),
                    _info = info.length > 60 ? info.slice(0,60) : info,
                    _title =  $('#title').val(),
                    _content = $('#editor').html(),
                    _id  = $('#blog-add').attr('data-id'),
                    _type = $('#type').val() ? $('#type').val() : "",
                    _mark = $('#mark').val() ? $('#mark').val() : "";
                var valArr = [
                        _title,
                        _type,
                        _mark,
                        _content,
                        _info
                ]
                if(valArr.indexOf("") != -1){
                    $('.error-msg').text('信息不能为空');
                    return false;
                }
                valArr.push(_id);
                e && e.stopPropagation();
                window.event && (window.event.cancelable = true);
                $.ajax({
                    type: 'post',
                    url: addUrl,
                    data: {
                        title: valArr[0],
                        type: valArr[1],
                        mark: valArr[2],
                        content: valArr[3],
                        info: valArr[4],
                        id: valArr[5]
                    },
                    success: function(data){
                        if(data.responseData.code){
                            location.href = '/admin/content';
                        }
                    }
                });
            })
            $('#type').selectpicker('val',$('#type').attr('data-v'));
            $('#mark').selectpicker('val',$('#mark').attr('data-v').split(','));//默认选中
        }(document,jQuery)

    </script>
{% endblock %}