{% extends './template/layout.html' %}
    {% block main %}
        <div class="panel">
            <section class="panel">
                <div class="panel-heading col-md-12">用户列表</div>
                <div class="panel-body">
                    <table class="table no-margin col-md-12">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>用户名</th>
                                <th>密码</th>
                                <th>创建日期</th>
                                <th>修改日期</th>
                                <th>管理员</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in responseData.data %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.password }}</td>
                                    <td>{{ user.createTime|date('Y-m-d H:i:s', -480, 'CCT') }}</td>
                                    <td>{{ user.updateTime|date('Y-m-d H:i:s', -480, 'CCT') }}</td>
                                    <td>
                                        {% if user.isAdmin %}
                                            是
                                        {% else %}
                                            否
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% include './template/page.html' %}
                </div>
            </section>
        </div>
    {% endblock %}