<section class="content-list content">
    {% for item in responseData.data %}
    <article class="blog-piece">
        <h2 class="blog-title"><a href="/web-app-adapter-iphone-x/">{{ item.title }}</a></h2>
        <div class="blog-meta">
            <a href="/author/shenfei/">{{item.author}}</a>
            on ,
            <time class="post-date" datetime="2017-10-26">{{ item.createTime|date('Y-m-d H:i:s', -480, 'CCT') }}</time>
        </div>
        <section class="blog-excerpt">
            <p> {% autoescape %}{{ item.content }}{% endautoescape %} </p>
            <p><a class="read-more" href="/web-app-adapter-iphone-x/">查看全文</a></p>
        </section>
    </article>
    {% endfor %}
</section>