<section class="content-list content">
    {% if responseData.data.length == 0 %}
        <h3 class="blog-tips">还没有博客，开始你的第一个
            <a href="/admin">博客吧！</a>
        </h3>
    {% endif %}
    {% for item in responseData.data %}
    <!--博客列表-->
    <article class="blog-piece">
        <h2 class="blog-title"><a href="./list?_id={{ item.id }}">{{ item.title }}</a></h2>
        <div class="blog-meta">
            <div class="mark-tag">
                {% for mark in item.mark.split(',') %}
                    <a href="/tag/{{mark}}" target="_blank">{{mark}}</a>
                {% endfor %}
            </div>
            <!-- <a href="#">{{item.author}}</a>
            on , -->
            <time class="post-date" datetime="2017-10-26">{{ item.createTime|date('Y/m/d', -480, 'CCT') }}
            </time>
        </div>
        <section class="blog-excerpt">
            <p class="blog-article"> {% autoescape %}{{ item.info }}{% endautoescape %} ... 
                <a class="read-more" href="./list?_id={{ item.id }}">MORE</a>
            </p>
        </section>
    </article>
    {% endfor %}
    <!--上下页-->
    {% if responseData.data.length %}
        <nav class="pagination" role="navigation">
            {% if responseData.page!= 1  %}
            <a class="newer-posts" href="./index?page={{ responseData.page-1 }}">
                <span aria-hidden="true">←</span> PREV </a>
            {% endif %}
            <span class="page-number">Page {{ responseData.page }} of {{ responseData.pages }}</span>
            {% if responseData.page!= responseData.pages  %}
            <a class="older-posts" href="./index?page={{ responseData.page+1 }}">
                NEXT <span aria-hidden="true">→</span></a>
            {% endif %}
        </nav>
    {% endif %}
</section>