<section class="content-list content">
    {% for item in responseData.data %}
    <article class="blog-piece">
        <h2 class="blog-title"><a href="/web-app-adapter-iphone-x/">{{ item.title }}</a></h2>
        <div class="blog-meta">
            <a href="/author/shenfei/">{{item.author}}</a>
            on ,
            <time class="post-date" datetime="2017-10-26">{{ item.createTime|date('Y-m-d H:i:s', -480, 'CCT') }}</time>
        </div>
        <section class="blog-excerpt">
            <p> {% autoescape %}{{ item.info }}{% endautoescape %} </p>
            <p><a class="read-more" href="/web-app-adapter-iphone-x/">查看全文</a></p>
        </section>
    </article>
    {% endfor %}
    <nav class="pagination" role="navigation">
        {% if responseData.page!= 1  %}
        <a class="newer-posts" href="./index?page={{ responseData.page-1 }}"><span aria-hidden="true">←</span> Newer Posts</a>
        {% endif %}
        <span class="page-number">Page {{ responseData.page }} of {{ responseData.pages }}</span>
        {% if responseData.page!= responseData.pages  %}
        <a class="older-posts" href="./index?page={{ responseData.page+1 }}">Older Posts <span aria-hidden="true">→</span></a>
        {% endif %}
    </nav>
</section>