<heard class="headerV">
    <div class="headerv-nav">
        <a href="/index">前端开发</a>
        <a href="/user/timeline" class="">UED实验室</a>
        <a href="/admin" class="">后台管理</a>
        <a href="/channel/" class="">关于我</a>
    </div>
    <div class="headerv-user">
        {%if userInfo.username %}
        <a class="router-link-active">
            {% if userInfo.isAdmin %}
            管理员,
            {% else %}
            hello,
            {% endif %}
            {{ userInfo.username  }}
        </a>
        <a class="headerv-logout"></a>
        {%else%}
        <a class="headerv-login">登录</a>
        {%endif%}
    </div>
    <div class="headerV-center">
        青取之于蓝，而胜于蓝
    </div>
</heard>
<canvas class="surface" width="2370" height="800" style="width: 100%; height: 300px;"></canvas>