
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content=" 爱生活，爱前端">
    <meta name="keywords" content="前端，html，css，js，node，vue，react，vagular，webpack，gulp，grunt，npm">
    <title>blog后台</title>
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- CORE CSS-->
    <link rel="stylesheet" type="text/css" href="/public/admin/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/admin/css/animate.min.css">
    <link rel="stylesheet" href="/public/admin/css/panel.css">
    <link rel="stylesheet" href="/public/admin/css/skins/palette.1.css" id="skin">
    <link rel="stylesheet" href="/public/admin/css/main.css">
    <!--加载当前页面加载的javascript-->
    {% block stylesheet %}
    {% endblock %}
<body>
<div class="app" data-sidebar="locked">
    <!--导航栏-->
    <header class="header header-fixed navbar">
        <div class="brand">
            <a href="/admin" class="navbar-brand">
                <i class="fa fa-stop mg-r-sm"></i>
                    <span class="heading-font">
                        端了个端 啊
                    </span>
            </a>
        </div>
        <form class="navbar-form navbar-left hidden-xs" role="search">
            <div class="form-group">
                <button class="btn no-border no-margin bg-none no-pd-l" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" class="form-control no-border no-padding search" placeholder="Search Workspace">
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right off-right">
            <li class="hidden-xs">
                <a href="/">博客首页</a>
            </li>
        </ul>
    </header>
    <!-- end of 导航栏-->
    <section class="layout">
        <!--左侧菜单栏-->
        <aside class="sidebar canvas-left">
            <nav class="main-navigation">
                <ul>
                    <li>
                        <a href="/admin/user">
                            <i class="fa fa-coffee"></i>
                            <span>用户管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/category">
                            <i class="fa fa-coffee"></i>
                            <span>分类管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/category/add">
                            <i class="fa fa-coffee"></i>
                            <span>添加博客分类</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/content">
                            <i class="fa fa-coffee"></i>
                            <span>博客管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/content/add">
                            <i class="fa fa-coffee"></i>
                            <span>添加博客内容</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <footer>
                <div class="footer-toolbar pull-left">
                    <a href="javascript:;" class="toggle-sidebar pull-right hidden-xs">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </div>
            </footer>
        </aside>
        <!--end of 左侧菜单栏-->
        <!--main-content-->
        <section class="main-content">
            <div class="content-wrap">
                {% block main %}
                {% endblock %}
            </div>
        </section>
        <!--end of main-content-->
    </section>
</div>
<!--[if lt IE 9]>
<script src="/public/admin/js/html5shiv.js"></script>
<script src="/public/admin/js/respond.min.js"></script>
<![endif]-->
<script src="/public/admin/vendor/jquery-1.11.1.min.js"></script>
<script src="/public/admin/vendor/jquery.blockUI.js"></script>
<script src="/public/admin/vendor/bootstrap.js"></script>
<!--加载当前页面加载的javascript-->
{% block script %}
{% endblock %}
</body>
</html>
