@charset "UTF-8";
*{box-sizing: border-box;}
body {
    line-height: 1.5;
    font-family: 'Microsoft Yahei';
    background: #ebebeb;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
ol,ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,th {
    text-align: left
}
blockquote,q {
    quotes: none
}
blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none
}
::-moz-selection {
    background-color: #ccc
}
::selection {
    background-color: #ccc
}
a {
    cursor: pointer;
    text-decoration: none;
}
.hide{
    display: none;
}
img {
    max-width: 100%
}
button{
    outline: none;
}
.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: "."
}
/*顶部导航*/
.headerV{
    padding: 0 20px;
    position: relative;
    height: 80px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,.04);
    width: 100%;
    min-width: 1000px;
    float: left;
    overflow: hidden;
}
.headerv-nav{
    float: left;
}
.headerV .headerv-nav a{
    float: left;
    display: inline-block;
    padding: 0 12px;
    height: 76px;
    color: #999;
    font-size: 14px;
    line-height: 80px;
}
.headerV .headerv-nav a:hover, .headerV .headerv-nav a.router-link-active {
    border-bottom: 4px solid #6ed56c;
}
.headerV .headerv-user {
    float: right;
    margin-top: 15px;
}
.headerv-user .headerv-login {
    color: #6ed56c;
    font-size: 16px;
    line-height: 50px;
}
.headerV .headerv-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.headerV .headerv-logout {
    float: right;
    margin: 5px 0 0 20px;
    width: 40px;
    height: 40px;
    background: url(../images/lagout.png) 50% 50% no-repeat;
    cursor: pointer;
}
/*模态窗*/
.modal-v{
    position: fixed;
    background: #fff;
    left: 50%;
    top: 40%;
    z-index: 999;
    margin-left: -200px;
    margin-top: -194px;
    box-shadow: 0 2px 54px rgba(0,0,0,.3);
    border-radius: 4px;
    -webkit-user-select: none;
    text-align: center;
}
.modal-v h2 {
    height: 60px;
    line-height: 60px;
    background: #f4f4f4;
    font-size: 16px;
    color: #999;
    margin: 0;
}
.modal-t{
    height: 60px;
    line-height: 60px;
    min-width: 200px;
}
.modal-c{
    padding: 20px 30px;
    position: relative;
}
.modal-v .close {
    position: absolute;
    right: 17px;
    top: 22px;
    width: 17px;
    height: 16px;
    background: url(../images/close-icon.png) no-repeat;
    cursor: pointer;
}
.modal-b{
    display: flex;
    flex: 0 1 auto;
    width: 100%;
    border-top: 1px solid #eee;
    font-size: 12px;
}
.modal-b button:not(:first-of-type) {
    border-left: 1px solid #eee;
}
.modal-b button{
    flex: 1 1 100%;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 44px;
    height: 44px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font: inherit;
    color: #6ed56c;
}
.modal-c .box-input-tips {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #ff3037;
    position: absolute;
    margin-top: -14px;
    left: 0;
}
/*登陆注册*/
.login-register input {
    width: 270px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    -webkit-appearance: none;
    outline: 0;
    height: 30px;
    padding-left: 10px;
    margin: 10px auto;
}
.blog-register-btn{
    width: 200px;
    height: 35px;
    line-height: 36px;
    border-radius: 4px;
    background: #6ed56c;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 20px auto 0;
    cursor: pointer;
    border: none;
}
.login-register{
    width: 340px;
}
.login-register .other-login {
    float: left;
    height: 30px;
    line-height: 30px;
    color: #999;
    font-size: 14px;
}
.login-register .forget-reg {
    float: right;
    height: 14px;
    line-height: 14px;
    margin-top: 10px;
}
.login-register .forget-reg a {
    display: inline-block;
    font-size: 14px;
    color: #999;
}
.forget-reg a.reg {
    color: #6ed56c;
    border-left: 1px solid #e8e8e8;
    padding-left: 10px;
}
.other-login .weibo-btn,.other-login .weixin-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../images/weibo.png) no-repeat;
    text-indent: -99em;
}
.other-login .weixin-btn {
    background: url(../images/weixin.png) no-repeat;
    margin-left: 6px;
}
.login-register .other {
    width: 100%;
    height: 30px;
    margin: 22px auto 0;
}