<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>端了个端</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="范端端" />
	<!--<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">-->
	<link rel="stylesheet" href="public/main/css/blog.css">
	</head>
	<body>
        <div class="main-bolg">
            <!--博客菜单导航-->
            {% include "./template/header.html" %}
            <div class="blog-main">
                <div class="blog-content">
                    <!--博客内容列表-->
                    {% include "./template/content_list.html" %}
                    <!--博客标签，信息等其他模块-->
                    {% include "./template/content_secondly.html" %}
                </div>
            </div>
        </div>
	<script src="public/main/js/jquery.min.js"></script>
    <script src="public/main/js/template.base.js"></script>
    <script src="public/main/js/index.js"></script>
    <script src="public/main/js/pShine-validator.js"></script>
    <script src="public/main/js/modalV.js"></script>
    <script src="public/main/js/canvas.js"></script>
    <script src="public/dist/index.bundle.js"></script>
	</body>
</html>
