<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>端了个端</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="范端端" />
	<!--<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">-->
	<link rel="stylesheet"
          href="public/main/css/blog.css">
	</head>
	<body>
        <div class="main-bolg">
            <heard class="headerV">
                <div class="headerv-nav">
                    <a href="/front-end">前端开发</a>
                    <a href="/user/timeline" class="">UED实验室</a>
                    <a href="/channel/" class="">关于我</a>
                </div>
                <div class="headerv-user">
                    {%if userInfo.username %}
                    <a class="router-link-active">
                        {% if userInfo.isAdmin %}
                            管理员,
                        {% else %}
                            hello,
                        {% endif %}
                        {{ userInfo.username  }}
                    </a>
                    <a class="headerv-logout"></a>
                    {%else%}
                    <a class="headerv-login">登录</a>
                    {%endif%}
                </div>
            </heard>
        </div>
	<!-- jQuery -->
	<script src="public/main/js/jquery.min.js"></script>
	<!-- Main -->
    <script src="public/main/js/template.base.js"></script>
    <script src="public/main/js/index.js"></script>
    <script src="public/main/js/pShine-validator.js"></script>
    <script src="public/main/js/modalV.js"></script>
	</body>
</html>

